:root {
  /* global css variable */
  /* colors */
  --black: #1f1f1f;
  --white: #fff;
  --bg: #f8f8f8;
  --borderColor: #6c7188;
  --shadowColor: #6c7188;
  --shadow: 0px 0px 2px var(--shadowColor);

  --containerWidth: 600px;
}
body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  overflow: hidden;
}

.ReactVirtualized__List,
.bp3-panel-stack-view {
  scrollbar-width: none;
}
.ReactVirtualized__List::-webkit-scrollbar,
.bp3-panel-stack-view::-webkit-scrollbar {
  display: none;
}
